body {
    background-color: black;   
 }
 
 .banner h1 { font-size: 3em; }
 .banner h3 {
   font-size: 2em;
   font-weight: normal;
   text-transform: uppercase;
   letter-spacing: 4px;
   margin-bottom: 10px;
 }

 .banner h1, .banner h3, .banner p {
   margin: 0, 700;
   text-shadow: 2px 2px 6px #000;
   text-align: center;
   
 }

 .banner {
   color: white;
   background: url('./images/kai-oberhauser-179931-unsplash.jpg') top left/cover no-repeat;
   height: 900px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .banner p {
    margin-top: 0px;
 }
 
 .banner button {
    font-size: 1.75rem;
    padding: 0.5em;
 
 }

 .bannerAbout h1 { font-size: 3em; }
 .bannerAbout h3 {
   font-size: 2em;
   font-weight: normal;
   text-transform: uppercase;
   letter-spacing: 4px;
   margin-bottom: 50px;
 }
 
 .bannerAbout h1, .bannerAbout h3, .bannerAbout p {
   margin: 0;
   text-shadow: 2px 2px 6px #000;
   text-align: center;
 }


 .bannerAbout {
  color: white;
  background: url('./images/projectLogo.png') top left/cover no-repeat;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .bannerAbout p {
  margin-top: 400px;
  justify-content: left;
  align-items: left;
}

.bannerAbout button {
  margin-top: 150px;
  font-size: 1.75rem;
  padding: 0.5em;

}

.logo {
  z-index: 10;
  display: flex;
  overflow: none;
  height: 300px;
  width: auto;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  

}
