/* purple + orange + blues
 :root {
  --list-back: #bccbde;
  --details-back: #e6e9f0;
  --header-back: #431c5d;
  --button-back: #e05915;
  --border-color: #c2dde6;
  --box-back: white;
} */

:root {
  --list-back: #39324B;
  --favorites-back: #765285;
  --details-back: #39324B;
  --details-box-back: #D1D3CF;
  --header-back: #351C4D;
  --button-back: #765285;
  --border-color: #c2dde6;
  --list-box-back: #feffff;
  max-width: 100%;
  max-height: 100%;
  background-color:#39324B;
}

body {
  background:#39324B;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 10px;
  background: var(--header-back);
  color: white;
  padding: 10px;
}

.header-titles h1 {
  font-size: 2em;
  padding: 10px;
  float: left;
}
.header p {
  margin-top: 15px;
  padding-top: 10px;
  float: left;
}

button {
  margin: 0 0.5rem;
  background: var(--button-back);
  border: 0;
  color: white;
  padding: 10px;
  border-radius:5px;
  font-size: 1em;  
}

.container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 47% auto;
  grid-gap: 0;
  overflow: hidden;
  position: relative;
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  overflow-y: scroll;
  width: 100%;
  max-height: 750px;
  grid-gap: 5px;
  background-color: var(--details-box-back);

}

.photoBox {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 110px 1fr;
  grid-gap: 2px; */

  background-color: var(--list-box-back);
  margin: 0.75rem;
  padding: 0.5rem;
  justify-content: space-evenly;
  border-radius: 0.25em;
  
}
.photoBox button {
  padding: 5px;
  font-size: 0.75em;
  border-radius: 1em;
  margin: 0;
}
.photoBox h3 {
  font-size: 0.85em;
  font-weight: bold;
}
.photoBox p {
  font-size: 0.75em;
  margin: 0.25em 0 0.25em 0;
}
.photoBox button {
  margin: 0 0.5em;
  min-width: 2.5em;

}

img.photoThumb {
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
}

.details {
  background-color: var(--details-back);
  padding: 0.5em;
  width: auto;
  max-height: auto;
  overflow-y: hidden scroll;
}

.detailsPhotoBox {
  box-sizing: border-box;
  margin: 0.75em;
  padding: 1em;
  min-height: 95%;
  max-height: auto;
  background-color: var(--details-box-back);
}

figure {
  margin: 0;
  padding: 0;
}
legend {
  font-weight: bold;
  color: var(--list-back);
  font-size: 1.2em;
}

.photoForm {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly flex-start;
  max-height: 95%;
  min-height: 95%;
  overflow-y: hidden scroll;
  width: auto;
}

.mapView {
  align-items: center;
  box-sizing: border-box;
  margin: 0.75em;
  padding: 1em;
  background-color: var(--details-box-back);
  min-height: 90%;
  max-height: 90%;
}

.mapElement {
  display: flex;
  max-width: 25%;
  max-height: 80%;
}

.mapInfo {
  flex-direction: column;
  justify-content: right space-between;
  text-align: right;
}

.mapInfo h1 {
  line-height: 2em;
}

.mapInfo img{
  flex-direction: column;
  max-height: auto;
  max-width: 47%;
}

.photoForm img {
   max-height: 40% !important;
   width: auto;
}

.favorites {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-flow: column;

  align-items: center;
  grid-gap: 5px;
  background: var(--favorites-back);
  color: white;
  padding: 5px;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.photos>input{
  width: 100%;
}


.flex-container {
 display: flex;
 flex-flow: column;
 align-items: center;
 background-color: #39324B;
 max-height: 100%;
 min-height: 100%;
}

.flex-container-row {
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: #39324B;
  max-height: 100%;
  min-height: 100%;
 }

.flex-box h2{
  color: white;
}

.flex-box{
  flex-direction: row;
  /* margin-bottom: 10px; */
}

.flex-title {
  flex-direction: column;
  padding-right: 20px;
  margin-bottom: 10px;
}

.flex-item { 
  flex-direction: column;
  align-self: space-around;
  border-radius: 0.5em;
  padding: 10px;
  margin: 5px;
  width: 300px;
}

.flex-item-favorites { 
  flex-direction: column;
  padding: 15px;
  align-self: space-between;
  border-radius: 0.5em;
}

.flex-item-favorites figure {
  margin: 10px;
}

.tileInformation {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.tileTitles {
  display: flex;
  padding-left: 5px;
  float: left;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  height: 10% !important;
  flex-direction: row;
  align-items: baseline;
}

.buttonStyling {
  flex-direction: column;
  margin: 5px;
  align-items: center;
}

.buttonItem {
  flex-direction: row;
  width: 40px;
  height: 30px;
  margin: 5px !important;
}

.flex-button {
  flex-direction: row;
  background: var(--header-back);
  color: white;
  border-radius: 0.5em;
  padding: 20px;
  font-size: 1.3em;
}

#Hide {
  display: none !important;
}

#Show {
  display: visible !important;
}

.header-logo {
  float:left;
  margin: 5px 15px 5px 15px;
  width: 70px;
  height: 50px;
  background: url('./components/images/seeThrough.png') top left/cover no-repeat;
}

.buttonItem-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1em;
  float: right;
  width: 20%;
}